<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="../Main/Home.html">Student Enrollment System</a> 
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../Main/Home.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Main/StudentProfile.html">PROFILE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Main/StudentEnroll.html">ENROLL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Main/ClassSchedule.html">CLASS SCHEDULE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Main/ViewGrades.html">VIEW GRADES</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../Auth/Login.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>