<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="../../Admin/Teacher/Dashboard.html">Teacher Panel</a> 
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavTeacher" aria-controls="navbarNavTeacher" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavTeacher">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../../Admin/Teacher/Dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Admin/Teacher/Subjects.html">Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Admin/Teacher/Students.html">Students</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../Auth/Admin-Login/LoginTeacher.html">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>